/*basic css reset */
*{
  padding: 0;
  margin:0;
  box-sizing :border-box ;
} 

body{
  min-width : 100%;
}

.laptop .section1 .row .col-md-4 .card {
  border: none;
  box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.23);
} 

.laptop .section1 .row .col-md-4 .card .row .col-md-8 .card-body .card-title {
  font-size: 16px;
}

.section1 .row .col-md-4 .card{
  height: 100%;
}



.section1 .row .col-md-4 .card .row .col-md-4 img {
  min-height: 25vh;
  min-width: 14vw;
}

.section1 .row .col-md-4 .card .row .col-md-8 .card-body .para {
  font-size: 1rem;
  margin-top: -0.5em;
}

.section1 .row .col-md-4 .card .row .col-md-8 .card-body .para3 {
  font-size: 0.82rem;
  color: #1dbb86;
  margin-top: -1.3em;
}

.section1 .row .col-md-4 .card .row .col-md-8 .card-body .amount {
  font-size: 1.1rem; 
  margin-top: -0.9em;
  font-weight: bold;
  padding-bottom: -2rem;
}

@media only screen and (max-width: 1017px) {
  .laptop .section1 .row .col-md-4 .card {
    display: grid;
  }
  .section1 .row .col-md-4 .card .row .col-md-4 img {
    min-width: 25vw;
  }
  .laptop .section1 .row .col-md-4 .card .row .col-md-8 .card-body {
    margin-left: -3.5rem !important;
  }
  .laptop .section1 .row .col-md-4 .card .row .col-md-8 .card-body h5,
  .laptop .section1 .row .col-md-4 .card .row .col-md-8 .card-body p {
    font-size: 1.7rem !important;
  }
  .laptop .section1 .row .col-md-4 .card .row .col-md-8 .card-body,
  .section1 .row .col-md-4 .card .row .col-md-8 .card-body .amount small {
    color: #0a223d;
  }
  .laptop .section1 .row .col-md-4 .card .row .col-md-8 .card-body:hover,
  .section1 .row .col-md-4 .card .row .col-md-8 .card-body .amount small:hover {
    color: #dd383a;
  }
}


@media only screen and (max-width: 890px) {
  .laptop .section1 .row .col-md-4 .card .row .col-md-8 .card-body h5,
  .laptop .section1 .row .col-md-4 .card .row .col-md-8 .card-body p {
    font-size: 1.3rem !important;
  }
  .laptop .section1 .row .col-md-4 .card .row .col-md-8 .card-body,
  .section1 .row .col-md-4 .card .row .col-md-8 .card-body .amount small {
    color: #0a223d;
  }
}

@media only screen and (max-width: 767px) {
  .section1 .row .col-md-4 .card .row .col-md-4 img {
    height: 50vh;
    margin-bottom: -2.3rem;
  }
  .laptop .section1 .row .col-md-4 .card .row .col-md-8 .card-body {
    margin-left: -0.8rem !important;
    margin-bottom: -2rem;
  }
  .laptop .section1 .row .col-md-4 {
    margin-bottom: 1rem !important;
  }
  .laptop .section1 .row .col-md-4 .card .row .col-md-8 .card-body,
  .section1 .row .col-md-4 .card .row .col-md-8 .card-body .amount small {
    color: #dd383a;
  }
} 